{{#if project}}

  <div class="overlay-messages">
    {{#if error}}
      <div class="alert alert-danger">
        {{error}}
      </div>
    {{/if}}

    {{#if areConsoleMessages}}
      <div class="console-panel">
        {{#each semanticDiagnostics as |message|}}
          <div class="alert alert-warning">{{message}}</div>
        {{/each}}

        {{#each syntaxDiagnostics as |message|}}
          <div class="console-error-line">{{message}}</div>
        {{/each}}
      </div>
    {{/if}}
  </div>

  <iframe class="gameIframe" id='innerIframe' src="/game.html" width="100%" height="200" scrolling="no"></iframe>

{{else}}
  Se necesita un proyecto.
{{/if}}
