@import "ember-modal-dialog/ember-modal-structure";
@import "ember-modal-dialog/ember-modal-appearance";
@import "bower_components/font-awesome/scss/font-awesome";
@import "modal";


body {
  margin: 1em;
}

canvas {
  border: 2px solid #ccc;
}

textarea {
  font-family: monospace;
  font-size: medium;
}

.right {
  text-align: right;
}

.x-back-container {
  display: inline-block;
}

.button-container {
  margin-bottom: 10px;
  margin-top: 10px;
}

button {
  margin-right: 5px !important;
}


.uk-button-yellow {
  background-color: #CECE59;
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1);
}

.uk-button-yellow:hover {
  background-color: #E2E261;
  color: white;
}

#editor {
    margin: 0;
    position: absolute;
    top: 500px;
    bottom: 0;
    left: 0;
    right: 0;
}
