@import "ember-modal-dialog/ember-modal-structure";
@import "ember-modal-dialog/ember-modal-appearance";
@import "bower_components/font-awesome/scss/font-awesome";
@import "modal";
@import "x-spinner";
@import "layout";
@import "x-example-preview";
@import "pilas-splitter";

//@import url("../images/spritesheet.css");

$marginTop: 26px;


.ratchet-namespace {
  @import "ratchet";
  @import "ratchet-theme-ios";
}

.ratchet-namespace .bar {
}

body {
  margin: 0;
  padding: 0;
}

.canvas-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 5px;
}

canvas {
  border: 1px solid gray;
  height: 100%;
  width: auto;
}

textarea {
  font-family: monospace;
  font-size: medium;
}

.right {
  text-align: right;
}

.x-back-container {
  display: inline-block;
}

.button-container {
  margin-bottom: 10px;
  margin-top: 10px;
}

#editor {
  margin: 0;
  position: absolute;
  top: $marginTop;
  bottom: 0px;
  left: 0px;
  right: 0px;
  overflow: scroll;
}

.contenedor-editor {
  height: 300px;
  position:relative;
}


.close-container {
  position: absolute;
  right: 5px;
  top: 5px;
}

.close-container a, .close-container i {
  cursor: pointer;
}

.btn-close {
  width: 33px;
  height: 33px;
  padding-top: 7px;
  cursor: pointer !important;
}


.x-title {
  position: absolute;
  top: 8px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  text-align: center;
}

.x-title:hover {
  cursor: pointer;
}


.text-center {
  text-align: center;
}


.console-panel {
  bottom: 0;
  left: 0;
  right: 0;
}

.overlay-messages .alert {
  margin-bottom: 5px;
  padding: 10px;
}

.console-error-line {
  color: red;
  background-color: #FFEDED;
  border: 1px solid #FFD4D4;
  margin-top: 2px;
  padding: 3px;
}


.CodeMirror-hints {
  z-index: 600000;
}


.ember-modal-dialog {
  overflow: hidden;
}

div#jsconsole-container {
    overflow: scroll;
}

.jsconsole .CodeMirror {
    line-height: 1em;
    font-family: "Source code pro";
    font-size: 15px;
}

.CodeMirror-sizer {
  margin-left: 20px !important;
}

.CodeMirror-gutter-wrapper {
   left: -16px !important;
   width: 27px !important;
   top: 5px !important;
}

.CodeMirror-hints {
   font-size: 18px;
   font-family: "Source code pro";
}


div {
  /*outline: 1px solid #ccc;*/
}

.edit-contenedor {
  display: flex;
  flex-flow: column wrap;
  min-height: calc(100vh - 38px);
}

.edit-fila {
}

.edit-fila-triple {
  display: flex;
  flex-flow: row nowrap;
  height: 25px;
}

.edit-principal {
  display: flex;
  flex-flow: row wrap;
  flex: 1 100%;
}

  .edit-panel-left {
    flex: 1 auto;
    position: relative;
    margin-left: 10px;
    margin-right: 5px;
    width: 200px;
  }

  .edit-panel-editor {
    flex: 2 auto;
    position: relative;
    margin-right: 5px;
    margin-left: 5px;
  }

  .edit-panel-center {
    flex: 2 auto;
    position: relative;
  }

.edit-fila {
}


.active-blue {
  color: blue !important;
}

.float-right {
  float: right;
}


#gameContainer {
  padding: 4px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.overlay-messages {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.76);
  border: 1px solid black;
}


.x-result {
  top: $marginTop;
  overflow: hidden; // para que no se vea es spinner interno.
}


.gameIframe {
  border: 0;
  position:absolute;
  z-index: 0;
  background: rgba(224, 224, 224, 0.23);
}




.padding {
  padding: 10px;
}

.min-padding {
  padding: 5px;
}

.border {
  border: 1px solid #ddd;
}

td a {
  text-decoration: none;
}



.bar {
  margin-bottom: 15px;
}


.tooled {
  display: inline;
}

.tooled:after {
  font-weight: lighter !important;
}

.allPanelsInvisiblePanel {
  flex-flow: row nowrap;
  flex: 1 auto;
  width: 100%;

  background-image: url("../images/mensaje-paneles-invisibles-pilas.png");
  background-repeat: no-repeat;
  background-position: right top;
  margin-right: 70px;
  margin-top: 32px;
}


.tooled-left:after, .tooled-left:before {
  right: 20px;
  top: 8px;
}


a:active {
  outline: 0;
  color: black !important;
}




.btn {
  cursor: pointer;
}


canvas {
  margin:auto;
}

.edit-panel-center {
  display: flex;
  flex-direction: column;
}

.toolbar-actions {
  flex: 0 1 auto;
}

.x-result {
  flex: 1 auto;
  position: relative; // para que el iframe pueda ser absoluto
  top:0;
}

.ember-modal-dialog .x-result {
  position: initial; // caso particular, cuando está en un dialogo.
}

.jsconsole {
  flex: 0 1 auto;
  height: 200px;
  overflow: scroll;
  width: 100%;
}

.btn .icon {
  cursor: pointer;
}


.toolbar-actions {
    margin-bottom: 1px;
}

.jsconsole-input {
  margin-top: 0px;
  padding-bottom: 6px;
}


.ember-modal-dialog {
  padding: 0px;
}

.jsconsole.eclipse .CodeMirror .completion-value-end {
  border-bottom: 0;
}

label.ember-radio-button {
  padding-left: 18px;
}


.dialog-container {
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 20px;
}

.dialog-title {
  font-weight: bold;
}

.dialog-buttons {
  text-align: right;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  background-color: #ddd;
  border-top: 1px solid #bbb;
}

.x-manual-iframe {
  overflow-y: scroll;
  position: absolute;
  border: 1px solid #eee;
  height: -webkit-calc(100% - 36px);
}

.mobile-top-padding {
  margin-top: 20px;
}


.toolbar {
  border-bottom: 1px solid #EAEAEA;
  height: 23px;
  padding: 5px;
  background-color: #F3F3F3;
  margin-bottom: 3px;
}

.btn-main {
  padding: 5px;
  width: 160px;
  font-size: 15px;
  margin: 3px;
  line-height: 2.1;
  text-align: left;
  padding-left: 15px;
}

.img {
  display: inline-block;
}

.btn-main .img {
  position: relative;
  top: 5px;
  right: 3px;
  cursor: inherit;
}


.CodeMirror-vscrollbar {
  overflow-x: hidden !important;
  overflow-y: hidden !important;
}


div#jsconsole-container {
  overflow: hidden;
}

p.inner-padding-right a {
  padding-right: 10px;
}

.text-white {
  color: white;
}


.x-canvas-fullscreen {
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  z-index: 5000;
  background-color: rgb(224, 224, 224);
}

.table-border {
  border: 1px solid #ccc;
}

.main-button {
  margin: 3px;
  width: 180px;
  padding: 5px;
  text-align: left;
  padding-left: 20px;
}

.main-button .img {
  vertical-align: top;
}

.error-page {
  padding: 2em;
}


.uk-button.active {
  background-color: #f5f5f5;
  color: #666;
  border-color: rgba(0,0,0,.2);
  border-top-color: rgba(0,0,0,.3);
  background-image: none;
  box-shadow: inset 0 2px 4px rgba(0,0,0,.1);
  color: #00A8E6;
}
