@import "ember-modal-dialog/ember-modal-structure";
@import "ember-modal-dialog/ember-modal-appearance";
@import "bower_components/font-awesome/scss/font-awesome";
@import "modal";
@import "x-spinner";

body {
  margin: 0;
  padding: 0;
}

.canvas-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 5px;
}

canvas {
  border: 1px solid gray;
  height: 100%;
  width: auto;
}

textarea {
  font-family: monospace;
  font-size: medium;
}

.right {
  text-align: right;
}

.x-back-container {
  display: inline-block;
}

.button-container {
  margin-bottom: 10px;
  margin-top: 10px;
}

button {
  margin-right: 5px !important;
}



#editor {
    margin: 0;
    position: absolute;
    top: 0;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.contenedor-editor {
  height: 300px;
  border: 2px solid red;
  position:relative;
}


.close-container {
  position: absolute;
  right: -40px;
  top: -40px;
}

.btn-close {
  border-radius: 23px;
  width: 37px;
  height: 37px;
  padding-top: 7px;
}


.x-title {
}

.x-title:hover {
  cursor: pointer;
  color: blue;
}


.text-center {
  text-align: center;
}


.console-panel {
  border-top: 1px solid #E6E6E6;
  background-color: white;
  padding: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: scroll;
  height: 120px;
}

.console-warning-line {
  color: #BF902B;
  background-color: #FFFFED;
  border: 1px solid #FFEBD4;
  margin-top: 2px;
  padding: 3px;
}

.console-error-line {
  color: red;
  background-color: #FFEDED;
  border: 1px solid #FFD4D4;
  margin-top: 2px;
  padding: 3px;
}


.CodeMirror-hints {
  z-index: 600000;
}


.ember-modal-dialog {
  overflow: hidden;
}

div#jsconsole-container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.jsconsole .CodeMirror {
    line-height: 1em;
    font-family: "Source code pro";
    font-size: 18px;
}

.CodeMirror-sizer {
  margin-left: 20px !important;
}

.CodeMirror-gutter-wrapper {
   left: -16px !important;
   width: 27px !important;
   top: 5px !important;
}

.CodeMirror-hints {
   font-size: 18px;
   font-family: "Source code pro"
}


.wrapper {
  display: flex;
  flex-flow: row wrap;
  min-height: 100vh;
}

.wrapper > * {
  flex: 1 100%;
}

.header {
  background: tomato;
  flex: 0 0 100%;
  min-height: 100px;
  max-height: 100px;
}

.footer {
  background: lightgreen;
}

.main {
  background: deepskyblue;
  position: relative;
  text-align: left;
}

.aside-1 {
  background: gold;
  text-align: left;
  flex: 0 0 100px;
}

.aside-2 {
  background: hotpink;
  position: relative;
  text-align: left;
  overflow: scroll;
}

  .aside { flex: 1 auto; }

  .main    { flex: 3 auto; }
  .aside-1 { order: 1; }
  .main    { order: 2; }
  .aside-2 { order: 3; }
  .footer  { order: 4; }


div {
  /*outline: 1px solid #ccc;*/
}

.edit-contenedor {
  display: flex;
  flex-flow: column wrap;
  min-height: 100vh;
}

.edit-fila {
}

.edit-fila-triple {
  display: flex;
  flex-flow: row nowrap;
}

.edit-principal {
  display: flex;
  flex-flow: row wrap;
  flex: 1 100%;
}

  .edit-panel-izquierdo {
    flex: 0 auto;
    width: 200px;
  }

  .edit-panel-principal {
    flex: 1 auto;
    position: relative;
  }

  .edit-panel-derecho {
    flex: 0 auto;
    width: 300px;
    position: relative;
    overflow: scroll;
  }

.edit-fila {
}
