.x-example-preview-container {
  display: inline-block;
  width: 180px;
  height: 150px;
  overflow: hidden;
  box-shadow: 0 0 5px #ccc;
  position: relative;
  margin: 5px;
  border: 1px solid #bbb;
  background-color: rgba(0, 0, 0, 0.1);
}

.x-example-preview-container:hover {
}

a:link, a:visited, a {
  text-decoration: none;
}

.x-example-preview-container img {
  cursor: pointer;
}

.x-example-preview-title {
  text-align: center;
  color: gray;
}

pre.example-code {
  border: 1px solid #ddd;
  background-color: #eee;
  padding: 5px;
}

.example-iframe-container {
  width: 100%;
  height: 600px;
  position: static;
  display: flex;
}

a div {
  cursor: pointer !important;
}
