<header class="bar bar-nav">
  <h1 class="title">pilas-engine</h1>
</header>

<div class="content">

  <p class="content-padded text-center">¡Hola, esto es pilas-engine!</p>

  <div class="card">
    <ul class="table-view">
      <li class="table-view-cell">
        {{#link-to "mobile.examples"}}Ver ejemplos{{/link-to}}
      </li>

      <li class="table-view-cell">
        <a href=""  {{action "visitExternalSite"}}>Visitar el sitio de pilas-engine.</a>
      </li>
    </ul>
  </div>
  
</div>
