{{#modal-dialog close="toggleModal"}}
{{x-result project=model}}

<div class="modal-footer right">
  {{#link-to "project" class="uk-button uk-button-success"}}Cerrar{{/link-to}}
</div>
{{/modal-dialog}}
