{{#modal-dialog close="toggleModal"}}

  {{x-result project=model}}

  <div class="close-container">
    <a href="" id="close-button" {{action "toggleModal"}} class="btn btn-default btn-close">{{fa-icon "close"}}</a>
  </div>

{{/modal-dialog}}

{{yield}}
