{{#modal-dialog close="toggleModal"}}

  {{x-result project=model}}

  <div class="close-container">
    <a href="" id="close-button" {{action "toggleModal"}} class="uk-button uk-button-small">{{fa-icon "close"}}</a>
  </div>

{{/modal-dialog}}

{{yield}}
