<header class="toolbar toolbar-header">

  <div class="toolbar-actions">

    <div class="btn-group">
      {{#link-to "index" tagName="button" class="btn btn-default"}} {{p-icon icon="home"}} {{/link-to}}
      {{#link-to "project" tagName="button" class="btn btn-default"}} {{p-icon icon="bag"}} {{/link-to}}
    </div>

  </div>

</header>



<div class="window-content">
  <div class="pane padding">
    Ejemplos


    <div class="">
      {{#each model as |example|}}
        {{x-example-preview model=example}}
      {{/each}}
    </div>

  </div>
</div>
