{{#x-header}}

    <div class="btn-group">
      {{#link-to "index" tagName="button" class="btn btn-default"}} {{p-icon icon="home"}} {{/link-to}}
      {{#link-to "project" tagName="button" class="btn btn-default"}} {{p-icon icon="bag"}} {{/link-to}}
    </div>

{{/x-header}}

<div class="window-content">
  <div class="pane padding">
    Ejemplos

    {{x-example-list examples=model}}

  </div>

</div>



{{yield}}
