{{#modal-dialog close="toggleModal" focusSelector="a#close"}}

{{x-result project=model}}

<div class="modal-footer right">
  <a href="" id="close" {{action "toggleModal"}} class="uk-button uk-button-success">Cerrar</a>
</div>

{{/modal-dialog}}
