{{#modal-dialog close="toggleModal" container-class="settings-dialog"}}
<div class="dialog-container">

  <p class="dialog-title">Configuración</p>

  <p>Tamaño de pantalla:</p>

  {{#radio-button value="100x100" groupValue=resolution}}100x100{{/radio-button}}
  {{#radio-button value="320x240" groupValue=resolution}}320x240{{/radio-button}}
  {{#radio-button value="640x480" groupValue=resolution}}640x480{{/radio-button}}
  {{#radio-button value="800x600" groupValue=resolution}}800x600{{/radio-button}}

  <div class="dialog-buttons">
    <button class="uk-button" {{action "cancel"}}>Cancelar</button>
    <button class="uk-button" {{action "confirm"}}>Confirmar</button>
  </div>

</div>
{{/modal-dialog}}
