{{#modal-dialog close="toggleModal"}}
<h1>Demo-editor</h1>

<p>Esta aplicación es simplemente un experimento sobre ember y mirage.</p>


<div class="modal-footer right">
  {{#link-to "index" class="uk-button uk-button-success"}}Cerrar{{/link-to}}
</div>

{{/modal-dialog}}
