{{#modal-dialog close="toggleModal" container-class="about-dialog"}}
<div class="dialog-container">

  <p class="dialog-title">pilas-editor</p>

  <p>
    Esta es una versión experimental de pilas-engine funcionando sobre
    javascript e incorporando un editor integrado, el objetivo del experimento
    es evaluar la viabilidad de crear una versión 2.0 de pilas-engine
    usando este conjunto de herramientas.
  </p>

  <p>Este proyecto utiliza varias tecnologías como:</p>

  <p>
    <a href="http://phaser.io" target="_blank"><div class="img phaser"></div></a>
    <a href="https://greensock.com" target="_blank"><div class="img greenSock"></div></a>
  </p>


  <div class="dialog-buttons">
    <button class="btn btn-default" {{action "toggleModal"}}>Cerrar</button>
  </div>

</div>
{{/modal-dialog}}
