{{#modal-dialog close="toggleModal" container-class="about-dialog"}}
<div class="dialog-container">

  <p class="dialog-title">pilas-editor</p>

  <p>Esta aplicación es simplemente un experimento sobre ember y mirage.</p>


  <div class="dialog-buttons">
    <button class="btn btn-default" {{action "toggleModal"}}>Cerrar</button>
  </div>

</div>
{{/modal-dialog}}
