{{#modal-dialog close="toggleModal" focusSelector="a#close"}}
<h1>Demo-editor</h1>

<p>Esta aplicación es simplemente un experimento sobre ember y mirage.</p>


<div class="modal-footer right">
  {{#link-to "index" id="close" class="btn btn-success"}}Cerrar{{/link-to}}
</div>

{{/modal-dialog}}
