{{#modal-dialog close="toggleModal" focusSelector="a#close"}}
<p>Demo-editor</p>

<p>Esta aplicación es simplemente un experimento sobre ember y mirage.</p>


<div class="modal-footer right">
  {{#link-to "index" id="close" tagName="button" class="btn btn-default"}}Cerrar{{/link-to}}
</div>

{{/modal-dialog}}
