{{#modal-dialog close="toggleModal" focusSelector="a#close"}}

<p>Configuración</p>

  <label for="vim">Modo VIM (no recomendado)
    {{input id="vim" type="checkbox" checked=preferences.vimMode}}
  </label>

  <p>
    <button {{action "changeTheme"}} class="btn btn-default">Tema: {{preferences.theme}}</button>
  </p>

<div class="modal-footer right">
  {{#link-to "index" id="close" tagName="button" class="btn btn-default"}}Cerrar{{/link-to}}
</div>

{{/modal-dialog}}
