{{#modal-dialog close="toggleModal" focusSelector="a#close"}}
<div class="dialog-container">

  <p class="dialog-title">Configuración</p>

  <label for="vim">Modo VIM (no recomendado)
    {{input id="vim" type="checkbox" checked=preferences.vimMode}}
  </label>

  <p>
    <button {{action "changeTheme"}} class="btn btn-default">Tema: {{preferences.theme}}</button>
  </p>

  <div class="dialog-buttons">
    {{#link-to "index" id="close" tagName="button" class="btn btn-default"}}Cerrar{{/link-to}}
  </div>

</div>
{{/modal-dialog}}
