{{#modal-dialog close="toggleModal" focusSelector="a#close"}}

<h1>Configuración</h1>

  <label for="vim">Modo VIM
    {{input id="vim" type="checkbox" checked=preferences.vimMode}}
  </label>

  <p>
    <button {{action "changeTheme"}} class="btn btn-success">Tema: {{preferences.theme}}</button>
  </p>

<div class="modal-footer right">
  {{#link-to "index" id="close" class="btn btn-success"}}Cerrar{{/link-to}}
</div>

{{/modal-dialog}}
