<div class="error-page">

  <h2>Lo siento, ha ocurrido un error</h2>

  <p>No se puede mostrar el proyecto actual, por favor regresá a la
    {{#link-to "project"}}lista de proyectos{{/link-to}}.</p>

</div>
