{{#x-header}}

    <div class="pull-left">
      <div class="uk-button-group">
        {{#link-to "index" tagName="button" class="uk-button uk-button-mini"}} {{fa-icon "home"}} {{/link-to}}
        {{#link-to "project" tagName="button" class="uk-button uk-button-mini"}} {{fa-icon "briefcase"}} {{/link-to}}
      </div>
    </div>
    
{{/x-header}}

{{x-manual}}
