<div class="ionic-namespace">
  <div class="bar bar-header">
    <button class="button button-icon icon ion-navicon"></button>
    <div class="h1 title">pilas-engine</div>
    <button class="button button-clear button-positive">Edit</button>
  </div>

  {{outlet}}

  <button class="button button-positive">
    button-positive
  </button>

</div>
