<h2>Proyectos</h2>

{{x-back to="index"}}

<table class="uk-table">
    <thead>
        <tr>
            <th>Nombre del proyecto</th>
            <th>Acciones</th>
        </tr>
    </thead>

    <tbody>
      {{#each model as |project|}}
        <tr>
            <td>{{project.title}}</td>
            <td>
              {{#link-to "project.runModal" project class="uk-button uk-button-yellow uk-button-small"}}Ejecutar en modal{{/link-to}}
              {{#link-to "run" project class="uk-button uk-button-success uk-button-small"}}Ejecutar proyecto{{/link-to}}
              {{#link-to "edit" project class="uk-button uk-button-primary uk-button-small"}}Editar{{/link-to}}
          </td>
        </tr>
      {{/each}}
    </tbody>
</table>

{{outlet}}
