<h2>Proyectos</h2>

{{x-back to="index"}}

<table class="table table-striped">
    <thead>
        <tr>
            <th>Nombre del proyecto</th>
            <th>Acciones</th>
        </tr>
    </thead>

    <tbody>
      {{#each model as |project|}}
        <tr>
            <td>
              {{#link-to "edit" project}}{{project.title}}{{/link-to}}
            </td>
            <td>
              {{#link-to "project.runModal" project class="btn btn-warning btn-xs"}}Ejecutar{{/link-to}}
              {{#link-to "edit" project class="btn btn-primary btn-xs"}}Editar{{/link-to}}
          </td>
        </tr>
      {{/each}}
    </tbody>
</table>

{{outlet}}
