<h4>Página de prueba</h4>

<p>
  {{#link-to "index"}}Regresar{{/link-to}}
</p>


<div>
  <button class="btn btn-default" {{action "clear"}}>Limpiar</button>
  <button class="btn btn-default" {{action "run"}}>Ejecutar</button>
</div>


<iframe id="gameContainer" width="200" height="200"></iframe>

{{outlet}}
