<h4>Página de prueba</h4>

<p>
  {{#link-to "index"}}Regresar{{/link-to}}
</p>

<div>
  <button class="btn btn-default" {{action "clear"}}>Limpiar</button>
  <button class="btn btn-default" {{action "run"}}>Ejecutar</button>
</div>


<div id="MySplitter">
  <div> Left content goes here </div>

    <div id="MySplitter2">
      <div> Left content goes here </div>
      <div> Right content goes here </div>
    </div>

</div>

{{outlet}}
